			<!-- MAIN CONTENT -->
<div id="content">

    <!-- row -->
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center error-box">
                        <h1 class="error-text tada animated"><i class="fa fa-times-circle text-danger error-icon-shadow"></i> Acesso restrito</h1>
                        @*<h2 class="font-xl"><strong>Acesso restrito :(</strong></h2>
                        <br />*@
                        <p class="lead semi-bold">
                            <strong>Infelizmente você não possui permissão para acessar este conteúdo.</strong><br><br>
                            <small>
                                Caso tenha dúvidas sobre a política de acesso as páginas deste sistema, entre em contato com o help desk.
                            </small>
                        </p>
                        <ul class="error-search text-left font-md">
                            <li><a href="javascript: window.history.back();">Voltar</a></li>
                        </ul>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- end row -->

</div>
<!-- END MAIN CONTENT -->